@import "tailwindcss";
@import "tw-animate-css";

/* Light mode por defecto */
:root {
  --background: linear-gradient(135deg, #364f68 17%, #4e7aa5 61%, #659ed3 100%);
  --form-bg:    rgba(0, 0, 0, 0.5);
  --foreground: #FFFFFF;
  --border:     #E2E8F0;
}

.dark {
  --background: #1A202C;
  --form-bg:    rgba(45, 55, 72, 0.8);
  --foreground: #E2E8F0;
  --border:     #4A5568;
}

body {
  background: var(--background);
  color:      var(--foreground);
}

* {
  border-color: var(--border);
}
